* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.collapse{
  cursor: pointer;
  display: block; 
  background: #d52e12;
  color: white;
  font-family: sans-serif;
  padding: 0.2em;
}
.collapse + input{
  display: none; /* hide the checkboxes */
}
.collapse + input + div{
  display:none;
}
.collapse + input:checked + div{
  display:block;
}

.collapseReply {
  width: 6em;
}

.postHead > div {
  display: inline;
}

.formDiv {
  display: inline;
}

.formDiv > textarea {
  display: block;
}

.title {
  width: 22em;
}

#posts {
}

.post {
  /* background-color: #e6e5e5; */
  /* font-size: 0.9em; */
  margin-top: 1em;
  font-family: sans-serif;
  list-style-type: none;
  padding: 0.5em;
  border-left: 0.5em solid #d52e12;
  /* border-top: 1px solid #c2c0c0; */
}

/* .post:nth-child(odd) { */
/*   /1* background-color: #f6f6f6; *1/ */
/*   background-color: #e6e5e5; */
/*   cursor: pointer; */
/* } */

/* .post:nth-child(even) { */
/*   /1* background-color: #f6f6f6; *1/ */
/*   background-color: #fff; */
/*   cursor: pointer; */
/* } */


.top-level {
  margin: 0;
  border-top: 0;
}
.postTitle {
  text-transform: uppercase;
}

.postBody {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #3c1405;
}

.postCreated {
  right: 0.5em;
  position: absolute;
  color: #536515;
}

#replyButton {
  /* background-color:#e18778; */
  /* width: 15em; */
  display: inline;
  right: 0.5em;
  background-color: #0c3f614d;
  font-size: 0.7em;
}

.mainNav > ul > li {
  list-style-type: none;
  display: inline;
}

.mainNav > ul > li > a  {
  text-decoration: none;
  color: white;
  background: #d52e12;
  padding-top: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-transform: uppercase;
}

.replyPost {
  margin-left: 1em;
}

.replyButt {
  height: 1em;
  padding: 0.3em;
  width: 6em;
  color: white;
  background-color: #0c3f614d;
}
