<html>
  <head>
    <link rel="stylesheet" href="/public/css/main.css" type="text/css" media="screen" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="mainNav">
      <ul>
        <li><a href="/politics">politics</a></li>
        <li><a href="/stem">STEMP</a></li>
        <li><a href="/arts">arts & entertainment</a></li>
        <li><a href="/business">business</a></li>
        <li><a href="/other">off topic</a></li>
      </ul>
    </div>

    <form method="POST" action="/api/thread/ID:{{.ID}}">
      <label class="collapse" for="_1"><b>+</b></label>
			<input id="_1" type="checkbox"> 

			<div class="formDiv">
        <input class="title" name="title" placeholder="post title"/>
        <input type="submit" value="submit"/>
        <textarea id="postBody" name="postBody" cols="48" rows="4" tabindex="4" wrap="soft"></textarea>
        <input type="hidden" value="{{ .Random }}" name="hidden"/>
      </div>

    </form>

    <div id="posts">
      <ul>
        {{ range $key, $value := .Posts }}
          <a href="/view/?postNum={{ $value.ID  }}">
            <li class="post">
              <div class="postHead">
                <div class="postTitle"><b>{{ $value.Title}}</b></div>
              </div>
              <div class="postBody">{{ $value.Body }}</div>
              <label class="collapse" id="replyButton">
                <b>+ {{ len $value.Children }} REPLIES [view]</b>
              </label>
            </li>
          </a>        
        {{ end }}
      </ul>
    </div>

  </body>
</html>
